article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h4 {
  padding: 0.5em;
}

.container {
  max-width: 1200px;
  margin: 1em auto;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.header {

}

.row {
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.metric {
  width: 32%;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #ECEAEE;
  text-align: center;
}

.metric-donut {
  width: 49%;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #ECEAEE;
  text-align: center;
}

.metric-hbar {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: #ECEAEE;
  text-align: left;
}

.number {
  display: block;

  /*Adjust these to make the numbers bigger on the number widget*/
  font-size: 80px;
  line-height: 100px;
  height: 120px;
}

.hbar {

}

.graph {
  position: relative;
  width: 100%;
  height: 260px;
  background: #ECEAEE;
}

#title {
  height: 46px;
  margin: 0px;
  font-family: sans-serif;
  line-height: 46px;
}

#dashboard {
  max-width: 100%;
  display: block;
  text-align: left;
  padding: 0.5em;
}

#key-metric {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

#pageviews-trend {
  width: 100%;
  margin: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #ECEAEE;
}

#pageviews-chart {
  height: 260px;
  background-color: #ECEAEE;
}

#dash-title {

}

#data-blocks {
  display: block;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #ECEAEE;
  padding: 0.5em;
  position: relative;
}

#newold {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: left;
}

#newold-perc {
  text-align: center;
}

#os-hbar {

}

#top-hbar {
  height: 400px;
}

#over-date-range {
  float: left;
}

.graph-donut {
  position: relative;
  width: 100%;
  height: 260px;
  background: #ECEAEE;
  text-align: center;
}

.donut {

}

.left-title {
  width: 100%;
  margin: 0.5em 0;
  box-sizing: border-box;
  text-align: left;
}

/*For Loading animation*/
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#start-load {
  display: block;
  position: fixed;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

#dash-cal {
  width: 100%;
  height: auto;
}

#calendar {
  margin: auto 0;
  padding: 6px;
  border-radius: 4px;
  display: block;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
